MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/techcom-attendance?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_EMAIL=attendance1978@gmail.com.local
ADMIN_PASSWORD=admin1978
